@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    /* padding: 0;
    margin: 0; */
}
body{
        background-color: rgb(54, 54, 54);
        color: white;

}